@use "../../src/styles/mixins/mixins" as *;

// .upload__borderBottom {
//   border-bottom: 1px solid $mercury;
// }

.videoThumb {
  padding: 0 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 0;
    width: 92%;
    margin-left: 4%;
  }

  @include desktop {
    width: 88%;
    margin-left: 6%;
  }

  &__desktop {
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__main--heading {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 1rem 0;

    @include tablet {
      border-bottom: 1px solid $mercury;
    }
  }

  &__heading {
    color: $silver;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
  }

  &__thumbnail {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    padding-bottom: 1rem;

    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 37%;
      height: 14rem;
      object-fit: cover;
      padding: 0;
      display: inline;
    }
  }

  &__form {
    @include desktop {
    }
  }

  &__label,
  &__description {
    color: $silver;
    font-size: 1rem;
    font-weight: 600;
  }

  &__addVid,
  &__videoDescript {
    @include input;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0.25rem 0 1rem 0;
  }

  &__videoDescript {
    height: 7rem;
    resize: none;
  }

  &__videoDescript::placeholder {
    font-size: 0.87rem;
    font-weight: 400;
    font-family: "avenir";
    color: #000;
    top: 0px;
    position: absolute;
    margin-top: 0.5rem;
  }

  &__addVid::placeholder {
    color: #000;
  }

  // Active state not working?
  &__addVid:active {
    border: 2xp solid $brainflix-blue;
  }

  &__videoDescript:active {
    border: 2px solid $brainflix-blue;
  }

  &__videoDescript.empty {
    border: 1px solid #d22d2d;
  }

  &__addVid.empty {
    border: 1px solid #d22d2d;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-top: 1.5rem;
      margin-top: 1.5rem;
      border-top: 1px solid $mercury;
    }
  }

  &__publish {
    @include buttons;
    width: 100%;
    height: 2.5rem;
    background-image: url("../assets/Icons/publish.svg");
    background-repeat: no-repeat;

    @include tablet {
      width: 20%;
      order: 2;
    }
  }

  &__cancel {
    color: $brainflix-blue;
    border: #fff;
    background-color: #fff;
    padding: 10%;
    cursor: pointer;

    @include tablet {
      padding: 0 4rem;
      order: 1;
    }
  }
}
