@use "../../styles/mixins/mixins" as *;
@use "../../styles/partials/fonts" as *;

Link {
    text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 1rem ;

  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  @include desktop {
      padding: 1rem 5rem;
      
  }

  &__head {
    text-align: center;
  }

  &__logo {
    height: 1.5rem;

    @include tablet {
        height: 1.8rem;
    }
  }

  &__head-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;

    @include tablet {
      width: 100%;
      justify-content: flex-end;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__input {
    width: 81%;

    @include tablet {
      width: 40%;
    }
  }

  &__search {
    width: 100%;
    height: 2.5rem;
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-position: 3%, 25%;
    background-size: 1.2rem;
    padding-left: 2.5rem;
    color: #000;
    @include input;

    @include tablet {
      background-size: 1.5rem;
      font-size: 0.87rem;
      background-size: 1.5rem;
      padding-left: 2.5rem;
    }

    @include desktop {
      width: 80%;
      background-size: 1.25rem;
      padding-left: 10%;
      margin-left: 15%;
      font-size: 0.87rem;
    }

  }

  &__search:active {
    border: 2px solid $brainflix-blue;
  }

  &__avatar {
    @include avatar;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1.5rem;
    }
  }

  &__upload {
    background-image: url(../../assets/Icons/upload.svg);
    height: 2.5rem;
    margin-top: .5rem;
    text-decoration: none;
    width: 100%;
    @include buttons;

    @include tablet {
      display: none;
      width: 40%;
      margin-left: 1.5rem;
    }
  }


  .hidden {
    display: none;
    text-decoration: none;

    @include tablet {
      display: inline;
      height: 2.5rem;
      margin-top: 0;
      width: 12rem;
    }

    @include desktop {
      height: 2.5rem;
      margin-left: 1rem;
    }
  }

  &__upload:hover {
    background-color: $brainflix-drkBlue;
  }
}


